@use '../../App.module' as app;

$expanded-navbar-width: 12rem;
$navbar-transition-duration: 400ms;

.navbar {
  z-index: 999;
  position: fixed;
  background-color: #23232e;
  transition: width $navbar-transition-duration ease-in;

  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }

  .nav-item {
    transition: 300ms;
    filter: grayscale(100%) opacity(0.7);

    &:hover {
      filter: grayscale(0) opacity(1);
      background: hsl(240, 25%, 50%);
      color: #fff;
    }
  }

  .nav-link {
    text-decoration: none;
    color: #edece8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 2rem;
  }

  .link-text {
    display: none;
    transition-property: all;
    transition-duration: calc($navbar-transition-duration / 2);
    transition-behavior: allow-discrete;
    transform: translateX(-13rem);
    opacity: 0;
  }

  @media only screen and (min-width: 1200px) {
    top: 0;
    left: 0;
    width: app.$navbar-large-screen-width;
    height: 100vh;

    &:hover {
      width: $expanded-navbar-width;

      .nav-link {
        justify-content: space-between;
        padding: 0.5rem 2rem;
      }

      .link-text {
        display: block;
        transform: translateX(0);
        opacity: 1;
        transition-delay: calc($navbar-transition-duration / 2);

        @starting-style {
          opacity: 0;
          transform: translateX(-13rem);
        }
      }
    }

    .bottom {
      margin-top: auto;
    }
  }

  @media only screen and (max-width: 1200px) {
    bottom: 0;
    width: 100%;
    height: app.$navbar-small-screen-height;

    .nav {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  :global(.material-symbols-outlined) {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    font-size: 48px;
  }
}
